$backgroundColor: rgb(239,239,239);
$mainFont: serif;
$fontSize: 19px;
$lineHeight: 1.3em;
$mainBorder: 1px solid rgb(207,216,220);
$navigationColor: rgb(252,88,48);
$headersContentColor: rgb(97,125,138);
$contentBackgroundColor: rgb(255,255,255);
$postDescriptionColor: rgb(189,189,189);
$headersColor: $navigationColor;
$textColor: rgb(117,117,117);